<div class="container">
  <div class="row">
    <div class="col-12 p-0">
      <h5 class="d-inline-block bg-light col-2 text-center my-4 text-nowrap">会員情報編集</h5>
    </div>
    <div class="row justify-content-around">
    <div class="col-sm-12 p-0">
      <%= form_with model: @customer, url: update_public_customer_path(@customer), method: :patch do |f| %>
        <% if @customer.errors.any? %>
          <%= @customer.errors.count %>errors prohibited this obj from being saved:
          <ul>
            <% @customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group row">
          <div class="col-3 form-inline">
            <label for="name">名前</label>
          </div>
          <div class="col-4 mr-2">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "令和", class: "form-control border border-secondary rounded" %>
          </div>
          <div class="col-4">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "道子", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3 form-inline">
            <label for="name">フリガナ</label>
          </div>
          <div class="col-4 mr-2">
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name", placeholder: "レイワ", class: "form-control border border-secondary rounded" %>
          </div>
          <div class="col-4">
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name", placeholder: "ミチコ", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3 col-form-label">
            <%= f.label :postal_code, class: "text-nowrap" do %>郵便番号<% end %>
          </div>
          <div class="col-4">
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3 col-form-label">
            <%= f.label :address do %>住所<% end %>
          </div>
          <div class="col-7">
            <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3 col-form-label">
            <%= f.label :telephone_number, class: "text-nowrap" do %>電話番号<% end %>
          </div>
          <div class="col-4">
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "00000000000", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3 col-form-label">
            <%= f.label :email, class: "text-nowrap" do %>メールアドレス<% end %>
          </div>
          <div class="col-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-3"></div>
          <div class="actions col-4 col-form-label">
            <%= f.submit "編集内容を保存", class: "btn btn-success btn-block" %>
          </div>
          <div class="col"></div>
          <div class="col-3 col-form-label text-right">
            <%= link_to "退会する", customers_delete_confirm_path(@customer), class: "btn btn-danger text-nowrap", role: "button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>