<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 p-0">
      <h5 class="d-inline-block bg-light col-2 text-center my-5 text-nowrap">商品一覧</h5>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-12 p-0">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col-1">商品ID</th>
            <th scope="col-3">商品名</th>
            <th scope="col-1">税抜価格</th>
            <th scope="col-3">ジャンル</th>
            <th scope="col-1">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="col-1"><%= item.id %></td>
              <td class="col-3"><%= link_to item.name, admin_item_path(item.id), style: "text-decoration: underline; color: black" %></td>
              <td class="col-1"><%= item.price %></td>
              <td class="col-3"><%= item.genre_id %></td>
              <td class="col-1">
                <% if item.is_active? %>
                  <P class="font-weight-bold", style="color:lightgreen">販売中</P>
                <% else %>
                  <P class="font-weight-bold", style="color-grey">販売停止中</P>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>