<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 px-5 px-sm-0">
      <h4>管理者ログイン</h4>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto p-sm-0">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="form-group">
          <%= f.label :email do %>メールアドレス<% end %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "border border-secondary rounded" %>
        </div>

        <div class="form-group">
          <%= f.label :password do %>パスワード<% end %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>