<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="d-inline-block bg-light col-2 text-center my-5 text-nowrap">注文履歴詳細</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 text-left">
      <div class="d-flex flex-row mb-2">
        <label class="col-sm-3">購入者</label>
        <div class="col-sm-6"><%= link_to @order.customer.full_name, admin_customer_path(@order.customer.id), style: "text-decoration: underline; color: black;" %></div>
      </div>

      <div class="d-flex flex-row mb-2">
        <label class="col-sm-3">注文日</label>
        <div class="col-sm-6"><%= @order.created_at.strftime('%Y/%m/%d') %></div>
      </div>

      <div class="d-flex flex-row mb-2">
        <label class="col-sm-3">配送先</label>
        <div class="col-sm-6"><%= @order.address_display %></div></br>
      </div>

      <div class="d-flex flex-row mb-2">
        <label class="col-sm-3">支払方法</label>
        <div class="col-sm-6"><%= @order.payment_method_i18n %></div>
      </div>

      <div class="d-flex flex-row mb-2">
        <label class="col-sm-3">注文ステータス</label>
        <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: :true, class: "d-flex flex-row align-items-center mb-2 col-sm-5" do |f| %>
          <div>
            <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, class: "col-sm-3 form-control border border-secondary" %>
          </div>
          <div class="actions col-sm-2">
            <%= f.submit "更新", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <table class="table">
        <thead class="thead-light">
          <tr class="text-nowrap">
            <tr class="text-nowrap">
            <th scope="col-sm-3">商品</th>
            <th scope="col-sm-1">単価(税込)</th>
            <th scope="col-sm-1">個数</th>
            <th scope="col-sm-1">小計</th>
            <th scope="col-sm-3">制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr class="table">
              <td class="col-sm-3"><%= order_detail.item.name %></td>
              <td class="col-sm-1 text-nowrap"><%= order_detail.price.to_s(:delimited) %></td>
              <td class="col-sm-1"><%= order_detail.amount %></td>
              <td class="col-sm-1"><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
              <td class="col-sm-3">
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local: :true, class: "d-flex flex-row align-items-center mb-2" do |f| %>
                  <div>
                    <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]}, class: "form-control border border-secondary" %>
                  </div>
                  <div class="actions col-sm-1">
                    <%= f.submit "更新", class: "btn btn-success" %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <table class="table table-borderless">
        <tr class="text-nowrap">
          <th class="font-weight-bold">商品合計</td>
          <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
        </tr>
        <tr class="text-nowrap">
          <th class="font-weight-bold">配送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr class="text-nowrap">
          <th class="font-weight-bold">請求金額</td>
          <td><%= (@order.total_payment).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
