<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row justify-content-between align-items-center">
    <h5 class="d-inline-block bg-light col-sm-3 text-center my-4 mx-0 text-nowrap">ショッピングカート</h5>
    <% if @cart_items.present? %>
    <span class="col-sm-3 ">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, "data-confirm" => "カート内がすべて空になります。よろしいですか？", class: "btn btn-danger text-nowrap" %>
    </span>
    <% end %>
  </div>
  <% if @cart_items.present? %>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr class="text-nowrap">
            <th scope="col-sm-4">商品名</th>
            <th scope="col-sm-2">単価(税込)</th>
            <th scope="col-sm-2">数量</th>
            <th scope="col-sm-2">小計</th>
            <th scope="col-sm-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr class="table">
              <td class="col-sm-4"><%= image_tag cart_item.item.get_image(50, 50), class: "image" %><%= cart_item.item.name %></td>
              <td class="col-sm-2 text-nowrap"><%= cart_item.with_tax_price.to_s(:delimited) %></td>
              <td class="col-sm-2 flex-row ">
                <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, class: "form-inline justify-content-between", local: true do |f| %>
                  <%= f.select :amount, *[1..10] ,{ selected: cart_item.amount } %>
                  <%= f.submit "変更" , class: "btn btn-success" %>
                <% end %>
              </td>
              <td class="col-sm-2">
                <%= cart_item.subtotal.to_s(:delimited) %>
              </td>
              <td class="col-sm d-flex flex-row">
                <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "col-sm btn btn-danger text-nowrap" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
    <p class="text-center">カートは空です。ショッピングをお楽しみください。</p>
    <%= link_to "商品を探す", cart_items_path, class: "col-sm btn btn-primary text-nowrap" %>
  <% end %>
</div>