<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <%= render "public/shared/genrebar", genres: @genres %>
    <div class="col-1 my-5"></div>
    <div class="col-sm-3 img-fluid d-flex mh-100 my-5 mx-1", style="width: 150px; height: 150px;" >
      <%= image_tag @item.image, class: "image" %>
    </div>
    <div class="col-sm-5 mt-5">
      <div class="d-flex flex-column mb-2">
        <h2><%= @item.name %></h2>
        <p class="mb-5", style="font-size: 20px;"><%= @item.introduction %></p>
        <p class="font-weight-bold", style="font-size: 22px;">￥<%= @item.with_tax_price.to_s(:delimited) %><span style="font-size: 10px;">(税込)</span></p>
      </div>
      <div class="flex-row my-3 form-group">
        <% if @cart_item.errors.any? %>
        <div>
          <h2><%= @cart_item.errors.count %> 件のエラーがあります。</h2>
          <ul>
          <% @cart_item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
        <%= form_with model: @cart_item, url: cart_items_path(@cart_item), class: "form-inline justify-content-center" do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <div class="col-auto mr-5 form-row">
            <%= f.select :amount, *[1..10], placeholder: "個数" %>
          </div>
          <div>
            <%= f.submit "カートに入れる" , class: "btn btn-success btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>