<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <%= render "public/shared/genrebar", genres: @genres %>
    <div class="col-1 my-5"></div>
    <div class="col-sm-3 img-fluid d-flex mh-100 my-5 mx-1", style="width: 150px; height: 150px;" >
      <%= image_tag @item.image, class: "image" %>
    </div>
    <div class="col-sm-5 mt-5">
      <div class="d-flex flex-column mb-2">
        <h2><%= @item.name %></h2>
        <p class="mb-5", style="font-size: 20px;"><%= @item.introduction %></p>
        <p class="font-weight-bold", style="font-size: 22px;">￥<%= (@item.price*1.1).floor.to_s(:delimited) %><span style="font-size: 10px;">(税込)</span></p>
      </div>
      <div class="flex-row my-3">
        <%= form_with model: @cart_item, url: cart_items_path(@cart_item), class: "form-inline justify-content-center" do |f| %>
          <div class="col-auto mr-5">
            <%= f.number_field :amount , placeholder: "個数", min: 1, max: 20 %>
          </div>
          <div>
            <%= f.submit "カートに入れる" , class: "btn btn-success btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>