<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand col-sm-3" href="/home">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row">
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto justify-content-end col-lg">
                <% if customer_signed_in? %>
                  <li class="nav-link text-light">
                    <%= link_to customer_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">マイページ</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to items_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">商品一覧</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to cart_items_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">カート</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to destroy_customer_session_path, method: :delete, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">ログアウト</button>
                    <% end %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-link text-light">
                    <%= link_to admin_items_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">商品一覧</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to admin_customers_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">会員一覧</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to admin_root_path, class: "header-button" do %>
                      <button type="button" class=" btn btn-outline-secondary">注文履歴一覧</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to admin_genres_path, class: "header-button" do %>
                      <button type="button" class="btn btn-outline-secondary">ジャンル一覧</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to destroy_admin_session_path, method: :delete, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">ログアウト</button>
                    <% end %>
                  </li>
                <% else %>
                  <li class="nav-link text-light">
                    <%= link_to about_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">About</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to items_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">商品一覧</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to new_customer_registration_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">新規登録</button>
                    <% end %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to new_customer_session_path, class: "header-button" do %>
                      <button type="button" class="text-nowrap btn btn-outline-secondary">ログイン</button>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="input-group row justify-content-end ">
              <% if customer_signed_in? %>
                <div class="col-sm-3"><p class="text-left text-nowrap">ようこそ、<%= current_customer.last_name %>さん！</p></div>
              <% end %>
              <div class="col"></div>
              <input type="form-control input-group-prepend col-sm-3 text-right" type="search" id="txt-search" placeholder="Search" aria-label="Search">
                <span class="input-group-btn input-group-append">
                  <button type="submit" id="btn-search sbtn" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                </span>
              </input>  
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container mt-5 bg-light vh-100">
        <div class="row mx-auto">
          <div class="mx-auto">
            <P>Copyright © Infratop Inc. All Rights Reserved.</P>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
